<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rohit.android.permissions">

    <application>

        <activity
            android:name="com.rohit.android.permissions.PermissionsActivity"
            android:theme="@style/Permissions.TransparentTheme" />

    </application>

</manifest>
